:root {
  /* Colours. */
  --fea-black: hsl(0, 0%, 0%);
  --fea-white: hsl(0, 0%, 100%);
  --fea-gray: hsl(0, 0%, 50%);
  --fea-gray-light: hsl(0, 0%, 80%);
  --fea-gray-dark: hsl(0, 0%, 20%);
  --fea-blue: hsl(201, 82%, 39%);
  --fea-blue-light: hsl(201, 82%, 60%);
  --fea-blue-dark: hsl(201, 82%, 25%);
  --fea-pink: hsl(315, 69%, 49%);
  --fea-pink-light: hsl(315, 69%, 60%);
  --fea-pink-dark: hsl(315, 69%, 25%);
  --fea-orange: hsl(14, 100%, 44%);
  --fea-orange-light: hsl(14, 100%, 60%);
  --fea-orange-dark: hsl(14, 100%, 25%);
  --fea-blue-25: hsl(201, 82%, 39%, 0.25);
  --fea-pink-25: hsl(315, 69%, 49%, 0.25);
  --fea-orange-25: hsl(14, 100%, 44%, 0.25);
  --fea-blue-50: hsl(201, 82%, 39%, 0.5);
  --fea-pink-50: hsl(315, 69%, 49%, 0.5);
  --fea-orange-50: hsl(14, 100%, 44%, 0.5);
  --fea-blue-75: hsl(201, 82%, 39%, 0.75);
  --fea-pink-75: hsl(315, 69%, 49%, 0.75);
  --fea-orange-75: hsl(14, 100%, 44%, 0.75);
}

* {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 1px dashed var(--fea-white);
  outline-offset: 1px;
  box-shadow: 0 0 1px inset var(--fea-black);
}


body {
  font-size: clamp(1rem, calc(0.8rem + 1vw), 1.375rem);
  font-family: sans-serif;
}

main {
  width: clamp(65%, 48ch, 95%);
  margin: 5rem auto;
}

.full-page {
  width: 100%;
  min-height: 100vh;
}
