@keyframes slideInFade {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.accordion {
  width: 100%;
}

.accordion-title {
  list-style: none;
  padding: 1rem;
  background-color: var(--fea-blue);
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--fea-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 250ms linear;
}

.accordion-content {
  padding: 1.5rem;
}

.accordion-toggle {
  display: block;
  width: 1rem;
  height: 1rem;
  border-left: 2px solid var(--fea-white);
  border-bottom: 2px solid var(--fea-white);
  transform: rotate(-45deg);
}

.accordion[open] .accordion-title {
  background-color: var(--fea-pink);
}

.accordion[open] .accordion-toggle {
  transform: rotate(-225deg);
}

@media screen and (prefers-reduced-motion: no-preference) {
  .accordion[open] .accordion-content {
    animation: slideInFade 250ms linear;
  }

  .accordion-toggle {
    transition: transform 250ms linear;
  }
}
