mark {
  padding: 0 0.25em;


  background-color: transparent;
  background-image: linear-gradient(90deg, var(--fea-orange-25), var(--fea-orange-50));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left;
}

mark.active {
  background-size: 100% 100%;
}

@media screen and (prefers-reduced-motion: no-preference) {
  mark {
    background-size: 0% 100%;
    transition: background-size 350ms linear;
  }
}
