a {
  text-decoration: none;
  color: var(--fea-blue);
  background-image: linear-gradient(90deg, var(--fea-pink) 0%, var(--fea-orange) 66%, var(--fea-pink-light) 100%);
  background-size: 0% 0.125em;
  background-repeat: no-repeat;
  background-position: left bottom;
}

a:hover {
  color: var(--fea-blue);
  background-size: 100% 0.125em;
}

@media screen and (prefers-reduced-motion: no-preference) {
  a {
    transition: background-size 300ms linear;
  }
}
